/* common styles */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Merriweather', serif;
}


/* banner styles */
header {
    display: flex;
    justify-content: center;
}

.banner {
    margin-top: 50px;
    width: 1320px;
    height: 600px;
    border-radius: 15px;
    background-image: url('resources/Banner-Image.png');
    box-shadow: 50px 80px 650px 130px #000000 inset;
}

.banner-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-top: 175px;
    text-shadow: 1px 1px #000000;
}

.banner-description {
    display: flex;
    color: #f8f8f8;
    width: 630px;
    text-align: center;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    margin: 20px 340px;
    text-shadow: 1px 1px #000000;
}

/* discount title section */
.offer {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 40px;
}

.offer-motto {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;


}

.offer-title {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 50px;
}

.discount {

    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 120px;

}

/* welcome section */

.welcome {
    display: flex;
    justify-content: center;
}

.welcome-bg-img {
    background-image: url('resources/Vectorrr.png');
    
    height: 600px;
    width: 1320px;
    border-radius: 15px;
    box-shadow: 250px 0px 400px 50px inset;
    display: flex;
}

.welcome-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-top: 125px;
    margin-left: 125px;
}

.welcome-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 25px;
    margin-left: 125px;
}

.join-now {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-left: 160px;
    margin-top: 50px;
}

welcome{
    display: flex;
    
}
.image-2024{
    margin-top:70px;
    margin-right:100px;
}